Import pandas and check the version

In [ ]:
import pandas as pd
pd.__version__

'1.1.5'

Create a series from a list, numpy array and dict
input:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
import numpy as np 

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser1,"\n\n",ser2,"\n\n",ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

Combine many series to form a dataframe

In [ ]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'),name='Letters')
ser2 = pd.Series(np.arange(26),name='numbers')

merge1 = pd.concat([ser1,ser2],axis=1)
print('Comination of ser1 and ser2\n',merge1)

Comination of ser1 and ser2
    Letters  numbers
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

get the items not common to both series A and series B

In [ ]:
ser3 = pd.Series([1, 2, 3, 4, 5])
ser4 = pd.Series([4, 5, 6, 7, 8])

union = pd.Series(np.union1d(ser3,ser4))
#print(union,'\n')
intersect = pd.Series(np.intersect1d(ser3,ser4))

notcommon = union[~union.isin(intersect)]
print(notcommon)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

Get frequency counts of unique items of a series

In [ ]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
#print(ser)
print(ser.value_counts())

d    7
h    6
f    5
b    5
g    4
e    1
a    1
c    1
dtype: int64

Stack two series vertically and horizontally

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

print('Stacking Horizontally\n',pd.concat([ser1,ser2],axis=1))
print('Stacking Vertically\n',pd.concat([ser1,ser2],axis=0))

Stacking Horizontally
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
Stacking Vertically
 0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

Convert a series of date-strings to a timeseries

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05',
'2015-06-06T12:20'])

print(pd.to_datetime(ser))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

Compute the euclidean distance between two series

In [ ]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

dist = np.sqrt(np.sum([(a-b)*(a-b) for a, b in zip(p, q)]))

print('Euclidian Distance: ',dist)

Euclidian Distance:  18.16590212458495

Import only specific columns from a csv file(first and second)

In [40]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [47]:
path = "/content/drive/MyDrive/csv Files/company_sales_data.csv"

#df = pd.read_csv(path)
#print(df)

col_list=['month_number','facecream']
df=pd.read_csv(path,usecols=col_list)
print(df)

    month_number  facecream
0              1       2500
1              2       2630
2              3       2140
3              4       3400
4              5       3600
5              6       2760
6              7       2980
7              8       3700
8              9       3540
9             10       1990
10            11       2340
11            12       2900

Use iloc(2 columns and 10 rows(any))

In [50]:
df = pd.read_csv(path)
df.iloc[:10,:2]

   month_number  facecream
0             1       2500
1             2       2630
2             3       2140
3             4       3400
4             5       3600
5             6       2760
6             7       2980
7             8       3700
8             9       3540
9            10       1990

Find out the unique values in each column

In [54]:
for col in df:
  print(df[col].unique)

<bound method Series.unique of 0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
Name: month_number, dtype: int64>
<bound method Series.unique of 0     2500
1     2630
2     2140
3     3400
4     3600
5     2760
6     2980
7     3700
8     3540
9     1990
10    2340
11    2900
Name: facecream, dtype: int64>
<bound method Series.unique of 0     1500
1     1200
2     1340
3     1130
4     1740
5     1555
6     1120
7     1400
8     1780
9     1890
10    2100
11    1760
Name: facewash, dtype: int64>
<bound method Series.unique of 0     5200
1     5100
2     4550
3     5870
4     4560
5     4890
6     4780
7     5860
8     6100
9     8300
10    7300
11    7400
Name: toothpaste, dtype: int64>
<bound method Series.unique of 0      9200
1      6100
2      9550
3      8870
4      7760
5      7490
6      8980
7      9960
8      8100
9     10300
10    13300
11    14400
Name: bathingsoap, dtype: int64>
<bound method Series.unique of 0     1200
1     2100
2     3550
3     1870
4     1560
5     1890
6     1780
7     2860
8     2100
9     2300
10    2400
11    1800
Name: shampoo, dtype: int64>
<bound method Series.unique of 0     1500
1     1200
2     1340
3     1130
4     1740
5     1555
6     1120
7     1400
8     1780
9     1890
10    2100
11    1760
Name: moisturizer, dtype: int64>
<bound method Series.unique of 0     21100
1     18330
2     22470
3     22270
4     20960
5     20140
6     29550
7     36140
8     23400
9     26670
10    41280
11    30020
Name: total_units, dtype: int64>
<bound method Series.unique of 0     211000
1     183300
2     224700
3     222700
4     209600
5     201400
6     295500
7     361400
8     234000
9     266700
10    412800
11    300200
Name: total_profit, dtype: int64>