Check Null values

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
path = "/content/drive/MyDrive/csv Files/company_sales_data.csv"
df=pd.read_csv(path)
#print(df)

In [7]:
df.isnull()

    month_number  facecream  facewash  ...  moisturizer  total_units  total_profit
0          False      False     False  ...        False        False         False
1          False      False     False  ...        False        False         False
2          False      False     False  ...        False        False         False
3          False      False     False  ...        False        False         False
4          False      False     False  ...        False        False         False
5          False      False     False  ...        False        False         False
6          False      False     False  ...        False        False         False
7          False      False     False  ...        False        False         False
8          False      False     False  ...        False        False         False
9          False      False     False  ...        False        False         False
10         False      False     False  ...        False        False         False
11         False      False     False  ...        False        False         False

[12 rows x 9 columns]